* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
.card {
    width: 400px;
    height: 600px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    margin-top: 50px;
}
.card-title {
    display: grid;
    grid-template: 50px 0 / 50px 1fr;
}
.card-title img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card-image {
    
}
.card-text {

}
.card-cta {

}